body.theme-custom {
 --theme-question-title-color:var(--theme-body-color);
 --theme-question-title-font-family:var(--theme-body-font-family);
 --theme-question-body-font-family:var(--theme-body-font-family);
 --theme-question-title-color:var(--theme-link-color);
 --theme-question-title-color-hover:var(--theme-link-color-hover);
 --theme-question-title-color-visited:var(--theme-link-color-visited)
}
body.theme-custom .s-btn__muted {
 color:var(--fc-light)
}
body.theme-custom .s-btn__muted:hover,
body.theme-custom .s-btn__muted:focus,
body.theme-custom .s-btn__muted:active {
 color:var(--fc-medium);
 background-color:var(--black-025)
}
body.theme-custom .s-btn__muted:active {
 background:var(--black-025)
}
body.theme-custom .s-btn__muted.is-selected {
 color:var(--fc-medium);
 background-color:var(--black-075)
}
body.theme-custom .s-btn__muted.s-btn__outlined {
 border-color:var(--black-300)
}
body.theme-custom .s-btn__muted.s-btn__outlined.is-selected {
 border-color:var(--black-400)
}
body.theme-custom .s-btn__muted.s-btn__filled {
 color:var(--fc-medium);
 background-color:var(--black-100)
}
body.theme-custom .s-btn__muted.s-btn__filled:hover,
body.theme-custom .s-btn__muted.s-btn__filled:focus,
body.theme-custom .s-btn__muted.s-btn__filled:active {
 color:var(--fc-medium);
 background-color:var(--black-150)
}
body.theme-custom .s-btn__muted.s-btn__filled:active {
 background-color:var(--black-200)
}
body.theme-custom .s-btn__muted.s-btn__filled.is-selected {
 color:var(--fc-dark);
 background-color:var(--black-350)
}
body.theme-custom .s-sidebarwidget {
 --sidebarwidget-outer-border-color:var(--bc-medium);
 --sidebarwidget-content-separator-color:var(--bc-light);
 --sidebarwidget-header-background-color:var(--black-025);
 --sidebarwidget-background-color:var(--white);
 border:1px solid var(--sidebarwidget-outer-border-color);
 background-color:var(--sidebarwidget-background-color)
}
body.theme-custom .s-sidebarwidget:not(.s-anchors) a:not(.button):not(.s-btn):not(.post-tag):not(.s-sidebarwidget--action):not(.s-user-card--link),
body.theme-custom .s-sidebarwidget:not(.s-anchors) a:not(.button):not(.s-btn):not(.post-tag):not(.s-sidebarwidget--action):not(.s-user-card--link):visited {
 color:var(--fc-light)
}
body.theme-custom .s-sidebarwidget:after {
 border-top:1px solid var(--sidebarwidget-outer-border-color)
}
@supports ((-webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)) or (clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%))) or (-webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)) {
 body.theme-custom .s-sidebarwidget:after {
  border:1px solid var(--sidebarwidget-outer-border-color)
 }
}
body.theme-custom .s-sidebarwidget .s-sidebarwidget--header,
body.theme-custom .s-sidebarwidget .s-sidebarwidget--content {
 border-top:1px solid var(--sidebarwidget-content-separator-color)
}
body.theme-custom .s-sidebarwidget .s-sidebarwidget--header {
 background:var(--sidebarwidget-header-background-color);
 color:var(--fc-medium)
}
body.theme-custom .s-sidebarwidget .s-sidebarwidget--action {
 color:var(--theme-link-color)
}
body.theme-custom .s-sidebarwidget .s-sidebarwidget--item,
body.theme-custom .s-sidebarwidget .s-sidebarwidget--item>:first-child {
 color:var(--fc-dark)
}
body.theme-custom .s-sidebarwidget .s-sidebarwidget--subnav[aria-current="true"],
body.theme-custom .s-sidebarwidget .s-sidebarwidget--subnav[aria-current="page"] {
 color:var(--fc-dark)
}
body.theme-custom .s-sidebarwidget__yellow,
body.theme-custom .s-sidebarwidget__blue,
body.theme-custom .s-sidebarwidget__green {
 border-color:var(--sidebarwidget-outer-border-color);
 background-color:var(--sidebarwidget-background-color)
}
body.theme-custom .s-sidebarwidget__yellow .s-sidebarwidget--header,
body.theme-custom .s-sidebarwidget__blue .s-sidebarwidget--header,
body.theme-custom .s-sidebarwidget__green .s-sidebarwidget--header {
 background-color:var(--sidebarwidget-background-color);
 color:var(--fc-medium)
}
body.theme-custom .s-sidebarwidget__yellow .s-sidebarwidget--header,
body.theme-custom .s-sidebarwidget__blue .s-sidebarwidget--header,
body.theme-custom .s-sidebarwidget__green .s-sidebarwidget--header,
body.theme-custom .s-sidebarwidget__yellow .s-sidebarwidget--content,
body.theme-custom .s-sidebarwidget__blue .s-sidebarwidget--content,
body.theme-custom .s-sidebarwidget__green .s-sidebarwidget--content {
 border-color:var(--sidebarwidget-outer-border-color)
}
body.theme-custom .s-sidebarwidget__yellow:after,
body.theme-custom .s-sidebarwidget__blue:after,
body.theme-custom .s-sidebarwidget__green:after {
 border-color:var(--sidebarwidget-outer-border-color)
}
body.theme-custom .s-breadcrumbs {
 color:var(--fc-light)
}
body.theme-custom .s-breadcrumbs .s-breadcrumbs--link {
 color:var(--fc-light)
}
body.theme-custom .s-breadcrumbs .s-breadcrumbs--link:hover {
 color:var(--fc-medium)
}
body.theme-custom #question-header .question-hyperlink {
 color:var(--theme-body-font-color)
}
body.theme-custom .s-topbar--item:hover .-badges * {
 color:inherit !important
}
body.theme-custom .js-zone-container,
body.theme-custom #hireme,
body.theme-custom .mixed-site-content,
body.theme-custom .js-zone-container *,
body.theme-custom #hireme *,
body.theme-custom .mixed-site-content * {
 filter:none !important
}
body.theme-custom.theme-win31 {
 --theme-base-primary-color-h:243;
 --theme-base-primary-color-s:93.2%;
 --theme-base-primary-color-l:34.7%;
 --theme-base-primary-color-r:15;
 --theme-base-primary-color-g:6;
 --theme-base-primary-color-b:171;
 --theme-base-secondary-color-h:243;
 --theme-base-secondary-color-s:93.2%;
 --theme-base-secondary-color-l:34.7%;
 --theme-base-secondary-color-r:15;
 --theme-base-secondary-color-g:6;
 --theme-base-secondary-color-b:171;
 --theme-background-color:#c0c4c8;
 --theme-button-active-background-color:#f1f2f3;
 --theme-button-color:#000000;
 --theme-button-hover-background-color:#fafafb;
 --theme-button-hover-color:#000000;
 --theme-button-selected-background-color:#e9eaec;
 --theme-button-selected-color:#000000;
 --theme-button-filled-active-background-color:#e9eaec;
 --theme-button-filled-active-border-color:#c0c4c8;
 --theme-button-filled-background-color:#fafafb;
 --theme-button-filled-border-color:#2a2a2a;
 --theme-button-filled-color:#000000;
 --theme-button-filled-hover-background-color:#f1f2f3;
 --theme-button-filled-hover-color:#000000;
 --theme-button-filled-selected-background-color:#d6d9db;
 --theme-button-filled-selected-border-color:#b2b7bc;
 --theme-button-filled-selected-color:#000000;
 --theme-button-outlined-border-color:#d6d9db;
 --theme-button-outlined-selected-border-color:#2a2a2a;
 --theme-button-primary-active-background-color:#c0c4c8;
 --theme-button-primary-background-color:#c0c4c8;
 --theme-button-primary-color:#000000;
 --theme-button-primary-hover-background-color:#b2b7bc;
 --theme-button-primary-hover-color:#000000;
 --theme-button-primary-number-color:#79828a;
 --theme-button-primary-selected-background-color:#959ba2;
 --theme-content-border-color:#2a2a2a;
 --theme-link-color:#0e06ab;
 --theme-link-color-hover:#3f38bc;
 --theme-link-color-visited:#0c0592;
 --theme-header-background-color:#0e06ab;
 --theme-header-link-color:#0e06ab;
 --theme-post-owner-background-color:#f6f6f7;
 --theme-tag-background-color:#f6f6f7;
 --theme-tag-color:#878f96;
 --theme-tag-hover-background-color:#f1f2f3;
 --theme-tag-hover-color:#79828a;
 --theme-body-font-family:Arial, sans;
 --theme-footer-background-color:transparent;
 --shadow-inactive:inset -1px -1px #84888c, inset 1px 1px #F0F0F0, inset -2px -2px #85898d, inset 2px 2px #dfdfdf !important;
 --element-bg:#c0c0c0;
 --arrow-up:url("/web/20220331235805im_/https://cdn.sstatic.net/Img/april-fools-2022/assets/arrowup.png?v=4329a69b4efb");
 --arrow-down:url("/web/20220331235805im_/https://cdn.sstatic.net/Img/april-fools-2022/assets/arrowdown.png?v=21fb3f6ec3e7");
 --arrow-right:url("/web/20220331235805im_/https://cdn.sstatic.net/Img/april-fools-2022/assets/arrowright.png?v=79d712516e17");
 --arrow-left:url("/web/20220331235805im_/https://cdn.sstatic.net/Img/april-fools-2022/assets/arrowleft.png?v=5794723486b1");
 --icon-select:url("/web/20220331235805im_/https://cdn.sstatic.net/Img/april-fools-2022/assets/arrowdrop.png?v=e5987784d591");
 --theme-topbar-background-color:transparent;
 --theme-topbar-accent-border:none;
 --theme-topbar-select-background:#ffffff;
 --theme-topbar-item-color:#ffffff;
 --theme-topbar-item-color-hover:#000000
}
body.theme-custom.theme-win31 * {
 -webkit-font-smoothing:none;
 image-rendering:pixelated
}
body.theme-custom.theme-win31 a:not(.s-btn),
body.theme-custom.theme-win31 a:not(.s-btn):hover,
body.theme-custom.theme-win31 .s-link,
body.theme-custom.theme-win31 .s-link:hover {
 text-decoration:underline;
 text-decoration-skip-ink:none
}
body.theme-custom.theme-win31 .s-topbar .s-user-card .-badges,
body.theme-custom.theme-win31 .s-topbar--item .-badges * {
 color:inherit !important
}
body.theme-custom.theme-win31 * {
 border-radius:0 !important;
 box-shadow:none !important;
 scrollbar-color:var(--element-bg) !important
}
body.theme-custom.theme-win31 .s-topbar--container {
 background-color:var(--theme-primary-color);
 color:var(--white);
 border:4px solid var(--theme-primary-color);
 border-bottom-width:0
}
body.theme-custom.theme-win31 .s-topbar--logo .-img._glyph {
 filter:invert(.5) brightness(2)
}
body.theme-custom.theme-win31 .s-topbar--logo:hover .-img._glyph {
 filter:invert(.5) brightness(0)
}
body.theme-custom.theme-win31 .s-topbar .s-select {
 margin-right:4px
}
body.theme-custom.theme-win31 a:focus,
body.theme-custom.theme-win31 .s-link:focus,
body.theme-custom.theme-win31 .s-btn.s-btn__link:focus {
 outline:1px dotted #000000;
 outline-offset:0
}
body.theme-custom.theme-win31 .s-btn:not(.s-btn__icon) {
 border-radius:1px !important;
 color:var(--theme-button-primary-color);
 font-weight:bold
}
body.theme-custom.theme-win31 .s-btn:focus:not(:active) {
 outline:1px dotted #000000;
 outline-offset:-0.8em
}
body.theme-custom.theme-win31 .s-btn__primary {
 border:1px solid var(--theme-button-outlined-border-color);
 box-shadow:inset -1px -1px #84888c,inset 1px 1px #F0F0F0,inset -2px -2px #85898d,inset 2px 2px #dfdfdf !important
}
body.theme-custom.theme-win31 .s-btn__primary:active,
body.theme-custom.theme-win31 .s-btn__filled:active,
body.theme-custom.theme-win31 .s-input,
body.theme-custom.theme-win31 .s-textarea,
body.theme-custom.theme-win31 .s-select select {
 box-shadow:inset -1px -1px #f0f0f0,inset 1px 1px #151515,inset -2px -2px #dfdfdf,inset 2px 2px #85898d !important
}
body.theme-custom.theme-win31 .s-btn__primary::first-letter {
 text-decoration:underline;
 text-decoration-thickness:.15em;
 text-decoration-skip-ink:none
}
body.theme-custom.theme-win31 .container {
 border:4px solid var(--theme-primary-color);
 border-top-width:0;
 border-bottom-width:0
}
body.theme-custom.theme-win31 .site-footer--container,
body.theme-custom.theme-win31 .site-footer--extra {
 background-color:var(--theme-content-background-color);
 border:4px solid var(--theme-primary-color)
}
body.theme-custom.theme-win31 #left-sidebar {
 background-color:var(--theme-content-background-color)
}
body.theme-custom.theme-win31 .nav-links .youarehere .nav-links--link,
body.theme-custom.theme-win31 .nav-links .youarehere .nav-links--link .svg-icon {
 background-color:var(--theme-primary-color);
 color:var(--white) !important
}
body.theme-custom.theme-win31 .s-checkbox,
body.theme-custom.theme-win31 .s-radio {
 border-color:black;
 background:white;
 box-shadow:inset -1px -1px #c0c4c8,inset 1px 1px #151515,inset -1px -1px #dfdfdf,inset 1px 1px #85898d !important
}
body.theme-custom.theme-win31 .s-radio {
 border-radius:50% !important
}
body.theme-custom.theme-win31 .s-radio:checked,
body.theme-custom.theme-win31 .s-checkbox:checked {
 border:0;
 background:var(--white);
 position:relative
}
body.theme-custom.theme-win31 .s-radio:checked::after {
 content:"";
 width:50%;
 height:50%;
 background-color:black;
 position:absolute;
 top:25%;
 left:25%;
 border-radius:50% !important
}
body.theme-custom.theme-win31 .s-checkbox:checked::before,
body.theme-custom.theme-win31 .s-checkbox:checked::after {
 content:"";
 width:2px;
 height:11px;
 background-color:black;
 position:absolute;
 left:.5px;
 top:1px;
 transform:translateX(5px) rotate(45deg);
 border-radius:1px
}
body.theme-custom.theme-win31 .s-checkbox:checked::after {
 transform:translateX(5px) rotate(-45deg)
}
body.theme-custom.theme-win31 input:focus,
body.theme-custom.theme-win31 select:focus,
body.theme-custom.theme-win31 textarea:focus,
body.theme-custom.theme-win31 input.has-focus,
body.theme-custom.theme-win31 select.has-focus,
body.theme-custom.theme-win31 textarea.has-focus {
 outline:2px solid black !important;
 border-color:transparent
}
body.theme-custom.theme-win31 .s-select::before {
 display:none
}
body.theme-custom.theme-win31 .s-select::after {
 border:0;
 background-image:var(--icon-select);
 content:"";
 width:20px;
 height:20px;
 background-size:50% auto;
 background-repeat:no-repeat;
 background-position:center;
 top:50%;
 right:4px;
 transform:translateY(-50%)
}
body.theme-custom.theme-win31::-webkit-scrollbar,
body.theme-custom.theme-win31 *::-webkit-scrollbar {
 width:20px !important;
 height:20px !important;
 background-color:transparent !important;
 border:1px solid black !important
}
body.theme-custom.theme-win31::-webkit-scrollbar-track,
body.theme-custom.theme-win31 *::-webkit-scrollbar-track {
 border-radius:0 !important;
 background-color:var(--element-bg) !important;
 border:1px solid black !important
}
body.theme-custom.theme-win31::-webkit-scrollbar-thumb,
body.theme-custom.theme-win31 *::-webkit-scrollbar-thumb {
 border-radius:0 !important;
 background-color:var(--element-bg) !important;
 border:1px solid black !important;
 box-shadow:var(--shadow-inactive)
}
body.theme-custom.theme-win31::-webkit-scrollbar-corner,
body.theme-custom.theme-win31 *::-webkit-scrollbar-corner {
 background-color:var(--element-bg) !important;
 border:1px solid black !important
}
body.theme-custom.theme-win31::-webkit-scrollbar-button,
body.theme-custom.theme-win31 *::-webkit-scrollbar-button {
 background-color:var(--element-bg) !important;
 border:1px solid black !important;
 box-shadow:var(--shadow-inactive);
 height:20px;
 width:20px;
 display:block;
 background-position:center;
 background-repeat:no-repeat;
 background-size:50%;
 background-image:var(--arrow-up)
}
body.theme-custom.theme-win31::-webkit-scrollbar-button:vertical:increment,
body.theme-custom.theme-win31 *::-webkit-scrollbar-button:vertical:increment {
 background-image:var(--arrow-down)
}
body.theme-custom.theme-win31::-webkit-scrollbar-button:horizontal:decrement,
body.theme-custom.theme-win31 *::-webkit-scrollbar-button:horizontal:decrement {
 background-image:var(--arrow-left)
}
body.theme-custom.theme-win31::-webkit-scrollbar-button:horizontal:increment,
body.theme-custom.theme-win31 *::-webkit-scrollbar-button:horizontal:increment {
 background-image:var(--arrow-right)
}
body.theme-custom.theme-win31::-webkit-scrollbar-button:vertical:start:increment,
body.theme-custom.theme-win31 *::-webkit-scrollbar-button:vertical:start:increment,
body.theme-custom.theme-win31::-webkit-scrollbar-button:vertical:end:decrement,
body.theme-custom.theme-win31 *::-webkit-scrollbar-button:vertical:end:decrement,
body.theme-custom.theme-win31::-webkit-scrollbar-button:horizontal:start:increment,
body.theme-custom.theme-win31 *::-webkit-scrollbar-button:horizontal:start:increment,
body.theme-custom.theme-win31::-webkit-scrollbar-button:horizontal:end:decrement,
body.theme-custom.theme-win31 *::-webkit-scrollbar-button:horizontal:end:decrement {
 display:none
}
body.theme-custom.theme-win31.theme-hotdog {
 --theme-base-primary-color-h:0;
 --theme-base-primary-color-s:100%;
 --theme-base-primary-color-l:47.5%;
 --theme-base-primary-color-r:242;
 --theme-base-primary-color-g:0;
 --theme-base-primary-color-b:0;
 --theme-base-secondary-color-h:0;
 --theme-base-secondary-color-s:100%;
 --theme-base-secondary-color-l:47.5%;
 --theme-base-secondary-color-r:242;
 --theme-base-secondary-color-g:0;
 --theme-base-secondary-color-b:0;
 --theme-background-color:#fbfb00;
 --theme-button-active-background-color:#f1f2f3;
 --theme-button-color:#000000;
 --theme-button-hover-background-color:#fafafb;
 --theme-button-hover-color:#000000;
 --theme-button-selected-background-color:#e9eaec;
 --theme-button-selected-color:#000000;
 --theme-button-filled-active-background-color:#e9eaec;
 --theme-button-filled-active-border-color:#c0c4c8;
 --theme-button-filled-background-color:#fafafb;
 --theme-button-filled-border-color:#2a2a2a;
 --theme-button-filled-color:#000000;
 --theme-button-filled-hover-background-color:#f1f2f3;
 --theme-button-filled-hover-color:#000000;
 --theme-button-filled-selected-background-color:#d6d9db;
 --theme-button-filled-selected-border-color:#b2b7bc;
 --theme-button-filled-selected-color:#000000;
 --theme-button-outlined-border-color:#d6d9db;
 --theme-button-outlined-selected-border-color:#2a2a2a;
 --theme-button-primary-active-background-color:#c0c4c8;
 --theme-button-primary-background-color:#c0c4c8;
 --theme-button-primary-color:#000000;
 --theme-button-primary-hover-background-color:#b2b7bc;
 --theme-button-primary-hover-color:#000000;
 --theme-button-primary-number-color:#79828a;
 --theme-button-primary-selected-background-color:#959ba2;
 --theme-content-background-color:#fbfb00;
 --theme-content-border-color:#2a2a2a;
 --theme-footer-background-color:#000000;
 --theme-link-color:#0e06ab;
 --theme-link-color-hover:#3f38bc;
 --theme-link-color-visited:#0c0592;
 --theme-header-background-color:#0e06ab;
 --theme-header-link-color:#0e06ab;
 --theme-post-owner-background-color:#f6f6f7;
 --theme-tag-background-color:#f6f6f7;
 --theme-tag-color:#878f96;
 --theme-tag-hover-background-color:#f1f2f3;
 --theme-tag-hover-color:#79828a
}
body.theme-custom.theme-dark.theme-terminal {
 --theme-base-primary-color-h:120;
 --theme-base-primary-color-s:100%;
 --theme-base-primary-color-l:50%;
 --theme-base-primary-color-r:0;
 --theme-base-primary-color-g:255;
 --theme-base-primary-color-b:0;
 --theme-base-secondary-color-h:120;
 --theme-base-secondary-color-s:100%;
 --theme-base-secondary-color-l:50%;
 --theme-base-secondary-color-r:0;
 --theme-base-secondary-color-g:255;
 --theme-base-secondary-color-b:0;
 --theme-background-color:#000111;
 --theme-body-font-color:var(--theme-primary-color);
 --theme-button-primary-color:#000000;
 --theme-button-primary-hover-color:#000000;
 --theme-button-primary-selected-color:#000000;
 --theme-content-background-color:#000111;
 --theme-content-border-color:var(--theme-primary-color);
 --theme-link-color-hover:#ffffff;
 --theme-link-color-visited:var(--fc-dark);
 --theme-body-font-family:VT323, monospace;
 --theme-topbar-background-color:var(--theme-content-background-color);
 --theme-topbar-item-background-hover:var(--theme-secondary-color);
 --theme-topbar-item-border-current:var(--theme-secondary-color);
 --theme-topbar-item-color:var(--theme-secondary-color);
 --theme-topbar-item-color-hover:var(--theme-content-background-color);
 --theme-topbar-search-border-focus:var(--theme-secondary-color);
 --fc-dark:var(--theme-secondary-300);
 --fc-medium:var(--theme-secondary-500);
 --fc-light:var(--theme-secondary-600);
 --bc-lightest:var(--fc-light);
 --bc-lighter:var(--fc-light);
 --bc-light:var(--fc-medium);
 --bc-medium:var(--fc-medium);
 --bc-dark:var(--fc-dark);
 --bc-darker:var(--fc-dark);
 font-size-adjust:.5
}
body.theme-custom.theme-dark.theme-terminal * {
 -webkit-font-smoothing:none;
 image-rendering:pixelated
}
body.theme-custom.theme-dark.theme-terminal a:not(.s-btn),
body.theme-custom.theme-dark.theme-terminal a:not(.s-btn):hover,
body.theme-custom.theme-dark.theme-terminal .s-link,
body.theme-custom.theme-dark.theme-terminal .s-link:hover {
 text-decoration:underline;
 text-decoration-skip-ink:none
}
body.theme-custom.theme-dark.theme-terminal .s-topbar .s-user-card .-badges,
body.theme-custom.theme-dark.theme-terminal .s-topbar--item .-badges * {
 color:inherit !important
}
body.theme-custom.theme-dark.theme-terminal * {
 border-radius:0 !important
}
body.theme-custom.theme-dark.theme-terminal .s-topbar--logo .-img._glyph {
 filter:invert(.5) brightness(2) sepia(1) brightness(1) contrast(1) saturate(100) hue-rotate(45deg)
}
body.theme-custom.theme-dark.theme-terminal [class*="gravatar-wrapper-"],
body.theme-custom.theme-dark.theme-terminal .s-avatar,
body.theme-custom.theme-dark.theme-terminal .js-usermini-avatar-container {
 background:var(--theme-primary-color)
}
body.theme-custom.theme-dark.theme-terminal [class*="gravatar-wrapper-"] img,
body.theme-custom.theme-dark.theme-terminal .s-avatar img,
body.theme-custom.theme-dark.theme-terminal .js-usermini-avatar-container img {
 filter:grayscale(1) contrast(200%);
 mix-blend-mode:multiply
}
body.theme-custom.theme-dark.theme-terminal [class*="user-gravatar"] {
 background:var(--theme-primary-color)
}
body.theme-custom.theme-dark.theme-terminal [class*="user-gravatar"] span {
 display:inline-block;
 width:100%;
 height:100%;
 filter:grayscale(1);
 mix-blend-mode:multiply
}
body.theme-custom.theme-dark.theme-terminal .s-btn__primary {
 color:var(--theme-button-primary-color) !important
}
body.theme-custom.theme-dark.theme-terminal #question-header .question-hyperlink {
 color:var(--theme-body-font-color)
}
body.theme-custom.theme-dark.theme-terminal .flush-left {
 border-top-color:var(--bc-medium)
}
body.theme-custom.theme-dark.theme-terminal .af-bar {
 background-color:var(--theme-background-color) !important;
 color:var(--theme-body-font-color) !important
}
body.theme-custom.theme-dark.theme-terminal .af-bar .af-logo-img {
 filter:invert(.5) brightness(2) sepia(1) brightness(1) contrast(1) saturate(100) hue-rotate(45deg)
}
body.theme-custom.theme-dark.theme-terminal .af-bar .af-theme-button {
 --af-btn-outline-color:var(--theme-primary-color);
 --af-btn-focus-outline-color:var(--red-500);
 --af-btn-selected-outline-color:#ffffff;
 background:var(--theme-background-color);
 border-radius:50% !important
}
body.theme-custom.theme-topsecret {
 --theme-body-font-family:Courier, serif;
 --ff-mono:var(--theme-body-font-family);
 --theme-question-body-font-family:#232629;
 --theme-question-title-font-family:var(--theme-body-font-family);
 --theme-body-font-color:#000000;
 --theme-content-border-color:var(--bc-darker);
 --theme-topbar-background-color:white;
 --theme-topbar-select-background:white;
 --theme-button-active-background-color:#ffffff;
 --theme-button-background-color:#ffffff;
 --theme-button-color:var(--fc-medium);
 --theme-button-hover-background-color:#ffffff;
 --theme-button-hover-color:var(--fc-dark);
 --theme-button-selected-background-color:#ffffff;
 --theme-button-selected-color:var(--fc-dark);
 --theme-button-filled-active-background-color:#ffffff;
 --theme-button-filled-active-border-color:var(--fc-dark);
 --theme-button-filled-background-color:#ffffff;
 --theme-button-filled-border-color:var(--fc-medium);
 --theme-button-filled-color:var(--fc-medium);
 --theme-button-filled-hover-background-color:#ffffff;
 --theme-button-filled-hover-color:var(--fc-dark);
 --theme-button-filled-selected-background-color:#ffffff;
 --theme-button-filled-selected-border-color:var(--fc-dark);
 --theme-button-filled-selected-color:var(--fc-dark);
 --theme-button-outlined-border-color:var(--fc-medium);
 --theme-button-outlined-selected-border-color:var(--fc-dark);
 --topsecret-image:url("/web/20220331235805im_/https://cdn.sstatic.net/Img/april-fools-2022/assets/confidential.svg?v=eb675da66cdd");
 --fc-dark:#0c0d0e;
 --fc-medium:#3b4045;
 --fc-light:#6a737c;
 --bc-lightest:var(--fc-light);
 --bc-lighter:var(--fc-light);
 --bc-light:var(--fc-medium);
 --bc-medium:var(--fc-medium);
 --bc-dark:var(--fc-dark);
 --bc-darker:var(--fc-dark);
 --bs-sm:var(--bs-lg);
 --bs-md:var(--bs-lg);
 --bs-xl:var(--bs-lg)
}
body.theme-custom.theme-topsecret a:not(.s-btn),
body.theme-custom.theme-topsecret a:not(.s-btn):hover,
body.theme-custom.theme-topsecret .s-link,
body.theme-custom.theme-topsecret .s-link:hover {
 text-decoration:underline;
 text-decoration-skip-ink:none
}
body.theme-custom.theme-topsecret .s-topbar .s-user-card .-badges,
body.theme-custom.theme-topsecret .s-topbar--item .-badges * {
 color:inherit !important
}
body.theme-custom.theme-topsecret .s-topbar--logo .-img {
 filter:invert(.5) brightness(0)
}
body.theme-custom.theme-topsecret #content::before {
 content:"";
 background:var(--topsecret-image) no-repeat center;
 background-size:contain;
 transform:rotate(-18deg);
 width:150px;
 height:150px;
 pointer-events:none;
 position:absolute;
 top:0px;
 left:150px;
 z-index:5000
}
@media screen and (max-width:640px) {
 html.html__responsive body.theme-custom.theme-topsecret #content::before {
  width:100px;
  height:100px;
  left:0
 }
}
@media print {
 body.theme-custom.theme-topsecret #content::before {
  width:100px;
  height:100px;
  left:0
 }
}
body.theme-custom.theme-topsecret #question-mini-list>:nth-child(2n),
body.theme-custom.theme-topsecret #questions>:nth-child(2n),
body.theme-custom.theme-topsecret .js-search-results>*>:nth-child(2n) {
 font-family:'Flow Block',serif !important
}
body.theme-custom.theme-topsecret #question-mini-list>:nth-child(2n),
body.theme-custom.theme-topsecret #questions>:nth-child(2n),
body.theme-custom.theme-topsecret .js-search-results>*>:nth-child(2n),
body.theme-custom.theme-topsecret #question-mini-list>:nth-child(2n) *,
body.theme-custom.theme-topsecret #questions>:nth-child(2n) *,
body.theme-custom.theme-topsecret .js-search-results>*>:nth-child(2n) * {
 text-decoration:none !important
}
body.theme-custom.theme-topsecret #question-mini-list>:nth-child(2n):hover,
body.theme-custom.theme-topsecret #questions>:nth-child(2n):hover,
body.theme-custom.theme-topsecret .js-search-results>*>:nth-child(2n):hover,
body.theme-custom.theme-topsecret #question-mini-list>:nth-child(2n):focus,
body.theme-custom.theme-topsecret #questions>:nth-child(2n):focus,
body.theme-custom.theme-topsecret .js-search-results>*>:nth-child(2n):focus,
body.theme-custom.theme-topsecret #question-mini-list>:nth-child(2n):active,
body.theme-custom.theme-topsecret #questions>:nth-child(2n):active,
body.theme-custom.theme-topsecret .js-search-results>*>:nth-child(2n):active {
 font-family:revert !important
}
body.theme-custom.theme-topsecret .s-prose :nth-of-type(2n),
body.theme-custom.theme-topsecret .post-layout :nth-child(5n) {
 font-family:'Flow Block',serif !important
}
body.theme-custom.theme-topsecret .s-prose :nth-of-type(2n),
body.theme-custom.theme-topsecret .post-layout :nth-child(5n),
body.theme-custom.theme-topsecret .s-prose :nth-of-type(2n) *,
body.theme-custom.theme-topsecret .post-layout :nth-child(5n) * {
 text-decoration:none !important
}
body.theme-custom.theme-topsecret .s-prose :nth-of-type(2n):hover,
body.theme-custom.theme-topsecret .post-layout :nth-child(5n):hover,
body.theme-custom.theme-topsecret .s-prose :nth-of-type(2n):focus,
body.theme-custom.theme-topsecret .post-layout :nth-child(5n):focus,
body.theme-custom.theme-topsecret .s-prose :nth-of-type(2n):active,
body.theme-custom.theme-topsecret .post-layout :nth-child(5n):active {
 font-family:revert !important
}
body.theme-custom.theme-topsecret .s-post-summary:nth-of-type(6n) .s-post-summary--content-title a {
 font-family:'Flow Block',serif !important
}
body.theme-custom.theme-topsecret .s-post-summary:nth-of-type(6n) .s-post-summary--content-title a,
body.theme-custom.theme-topsecret .s-post-summary:nth-of-type(6n) .s-post-summary--content-title a * {
 text-decoration:none !important
}
body.theme-custom.theme-topsecret .s-post-summary:nth-of-type(6n) .s-post-summary--content-title a:hover,
body.theme-custom.theme-topsecret .s-post-summary:nth-of-type(6n) .s-post-summary--content-title a:focus,
body.theme-custom.theme-topsecret .s-post-summary:nth-of-type(6n) .s-post-summary--content-title a:active {
 font-family:revert !important
}
body.theme-custom.theme-topsecret #mainbar-full :nth-of-type(6n) {
 font-family:'Flow Block',serif !important
}
body.theme-custom.theme-topsecret #mainbar-full :nth-of-type(6n),
body.theme-custom.theme-topsecret #mainbar-full :nth-of-type(6n) * {
 text-decoration:none !important
}
body.theme-custom.theme-topsecret #mainbar-full :nth-of-type(6n):hover,
body.theme-custom.theme-topsecret #mainbar-full :nth-of-type(6n):focus,
body.theme-custom.theme-topsecret #mainbar-full :nth-of-type(6n):active {
 font-family:revert !important
}
body.theme-custom.theme-topsecret .js-zone-container,
body.theme-custom.theme-topsecret #hireme,
body.theme-custom.theme-topsecret .mixed-site-content,
body.theme-custom.theme-topsecret .js-zone-container *,
body.theme-custom.theme-topsecret #hireme *,
body.theme-custom.theme-topsecret .mixed-site-content * {
 font-family:var(--theme-body-font-family) !important
}
body.theme-custom.theme-topsecret .s-badge.s-badge__staff {
 font-weight:bolder;
 background:linear-gradient(104deg, rgba(244,130,37,0) .9%, #f48225 2.4%, rgba(244,130,37,0.5) 5.8%, rgba(244,130,37,0.1) 93%, rgba(244,130,37,0.7) 96%, rgba(244,130,37,0) 98%),linear-gradient(183deg, rgba(244,130,37,0) 0%, rgba(244,130,37,0.3) 7.9%, rgba(244,130,37,0) 15%);
 -webkit-box-decoration-break:clone;
 margin:0;
 border-radius:7.5px;
 text-shadow:-12px 12px 9.8px rgba(244,130,37,0.7),21px -18.1px 7.3px #fff,-18.1px -27.3px 30px #fff;
 border-color:transparent;
 color:var(--fc-dark)
}
body.theme-custom.theme-topsecret .s-badge.s-badge__moderator {
 font-weight:bolder;
 background:linear-gradient(104deg, rgba(217,234,247,0) .9%, #d9eaf7 2.4%, rgba(217,234,247,0.5) 5.8%, rgba(217,234,247,0.1) 93%, rgba(217,234,247,0.7) 96%, rgba(217,234,247,0) 98%),linear-gradient(183deg, rgba(217,234,247,0) 0%, rgba(217,234,247,0.3) 7.9%, rgba(217,234,247,0) 15%);
 -webkit-box-decoration-break:clone;
 margin:0;
 border-radius:7.5px;
 text-shadow:-12px 12px 9.8px rgba(217,234,247,0.7),21px -18.1px 7.3px #fff,-18.1px -27.3px 30px #fff;
 border-color:transparent;
 color:var(--fc-dark)
}
body.theme-custom.theme-topsecret .s-post-summary--stats-item.has-accepted-answer {
 font-weight:bolder;
 background:linear-gradient(104deg, rgba(72,168,104,0) .9%, #48a868 2.4%, rgba(72,168,104,0.5) 5.8%, rgba(72,168,104,0.1) 93%, rgba(72,168,104,0.7) 96%, rgba(72,168,104,0) 98%),linear-gradient(183deg, rgba(72,168,104,0) 0%, rgba(72,168,104,0.3) 7.9%, rgba(72,168,104,0) 15%);
 -webkit-box-decoration-break:clone;
 margin:0;
 border-radius:7.5px;
 text-shadow:-12px 12px 9.8px rgba(72,168,104,0.7),21px -18.1px 7.3px #fff,-18.1px -27.3px 30px #fff;
 border-color:transparent;
 color:var(--fc-dark)
}
body.theme-custom.theme-topsecret .s-post-summary.s-post-summary__watched {
 font-weight:bolder;
 background:linear-gradient(104deg, rgba(255,255,40,0) .9%, #ffff28 2.4%, rgba(255,255,40,0.5) 5.8%, rgba(255,255,40,0.1) 93%, rgba(255,255,40,0.7) 96%, rgba(255,255,40,0) 98%),linear-gradient(183deg, rgba(255,255,40,0) 0%, rgba(255,255,40,0.3) 7.9%, rgba(255,255,40,0) 15%);
 -webkit-box-decoration-break:clone;
 margin:0;
 border-radius:7.5px;
 text-shadow:-12px 12px 9.8px rgba(255,255,40,0.7),21px -18.1px 7.3px #fff,-18.1px -27.3px 30px #fff;
 border-color:transparent;
 color:var(--fc-dark)
}
body.theme-custom.theme-topsecret .s-post-summary.s-post-summary__deleted {
 background-color:transparent
}
body.theme-custom.theme-topsecret .s-post-summary.s-post-summary__deleted .s-post-summary--stats-item.is-deleted {
 font-weight:bolder;
 background:linear-gradient(104deg, rgba(208,57,62,0) .9%, #d0393e 2.4%, rgba(208,57,62,0.5) 5.8%, rgba(208,57,62,0.1) 93%, rgba(208,57,62,0.7) 96%, rgba(208,57,62,0) 98%),linear-gradient(183deg, rgba(208,57,62,0) 0%, rgba(208,57,62,0.3) 7.9%, rgba(208,57,62,0) 15%);
 -webkit-box-decoration-break:clone;
 margin:0;
 border-radius:7.5px;
 text-shadow:-12px 12px 9.8px rgba(208,57,62,0.7),21px -18.1px 7.3px #fff,-18.1px -27.3px 30px #fff;
 border-color:transparent;
 color:var(--fc-dark)
}
body.theme-custom.theme-topsecret .nav-links .youarehere {
 font-weight:bolder;
 background:linear-gradient(104deg, rgba(255,255,40,0) .9%, #ffff28 2.4%, rgba(255,255,40,0.5) 5.8%, rgba(255,255,40,0.1) 93%, rgba(255,255,40,0.7) 96%, rgba(255,255,40,0) 98%),linear-gradient(183deg, rgba(255,255,40,0) 0%, rgba(255,255,40,0.3) 7.9%, rgba(255,255,40,0) 15%);
 -webkit-box-decoration-break:clone;
 margin:0;
 border-radius:7.5px;
 text-shadow:-12px 12px 9.8px rgba(255,255,40,0.7),21px -18.1px 7.3px #fff,-18.1px -27.3px 30px #fff;
 border-color:transparent;
 color:var(--fc-dark)
}
body.theme-custom.theme-topsecret .nav-links .youarehere .nav-links--link {
 border:0;
 background:transparent
}
body.theme-custom.theme-topsecret .s-navigation--item.is-selected {
 font-weight:bolder;
 background:linear-gradient(104deg, rgba(244,130,37,0) .9%, #f48225 2.4%, rgba(244,130,37,0.5) 5.8%, rgba(244,130,37,0.1) 93%, rgba(244,130,37,0.7) 96%, rgba(244,130,37,0) 98%),linear-gradient(183deg, rgba(244,130,37,0) 0%, rgba(244,130,37,0.3) 7.9%, rgba(244,130,37,0) 15%);
 -webkit-box-decoration-break:clone;
 margin:0;
 border-radius:7.5px;
 text-shadow:-12px 12px 9.8px rgba(244,130,37,0.7),21px -18.1px 7.3px #fff,-18.1px -27.3px 30px #fff;
 border-color:transparent;
 color:var(--fc-dark)
}
body.theme-custom.theme-topsecret .s-btn-group .s-btn {
 border-top:0;
 border-bottom:0;
 border-radius:0
}
body.theme-custom.theme-topsecret .s-btn-group .is-selected {
 font-weight:bolder;
 background:linear-gradient(104deg, rgba(130,255,173,0) .9%, #82ffad 2.4%, rgba(130,255,173,0.5) 5.8%, rgba(130,255,173,0.1) 93%, rgba(130,255,173,0.7) 96%, rgba(130,255,173,0) 98%),linear-gradient(183deg, rgba(130,255,173,0) 0%, rgba(130,255,173,0.3) 7.9%, rgba(130,255,173,0) 15%);
 -webkit-box-decoration-break:clone;
 margin:0;
 border-radius:7.5px;
 text-shadow:-12px 12px 9.8px rgba(130,255,173,0.7),21px -18.1px 7.3px #fff,-18.1px -27.3px 30px #fff;
 border-color:transparent;
 color:var(--fc-dark)
}
body.theme-custom.theme-topsecret .subtabs a,
body.theme-custom.theme-topsecret .filter a {
 border:0
}
body.theme-custom.theme-topsecret .subtabs a.youarehere,
body.theme-custom.theme-topsecret .filter a.youarehere,
body.theme-custom.theme-topsecret .subtabs a.active,
body.theme-custom.theme-topsecret .filter a.active {
 font-weight:bolder;
 background:linear-gradient(104deg, rgba(244,130,37,0) .9%, #f48225 2.4%, rgba(244,130,37,0.5) 5.8%, rgba(244,130,37,0.1) 93%, rgba(244,130,37,0.7) 96%, rgba(244,130,37,0) 98%),linear-gradient(183deg, rgba(244,130,37,0) 0%, rgba(244,130,37,0.3) 7.9%, rgba(244,130,37,0) 15%);
 -webkit-box-decoration-break:clone;
 margin:0;
 border-radius:7.5px;
 text-shadow:-12px 12px 9.8px rgba(244,130,37,0.7),21px -18.1px 7.3px #fff,-18.1px -27.3px 30px #fff;
 border-color:transparent;
 color:var(--fc-dark)
}
body.theme-custom.theme-topsecret .s-pagination {
 border:0
}
body.theme-custom.theme-topsecret .s-pagination .is-selected {
 font-weight:bolder;
 background:linear-gradient(104deg, rgba(244,130,37,0) .9%, #f48225 2.4%, rgba(244,130,37,0.5) 5.8%, rgba(244,130,37,0.1) 93%, rgba(244,130,37,0.7) 96%, rgba(244,130,37,0) 98%),linear-gradient(183deg, rgba(244,130,37,0) 0%, rgba(244,130,37,0.3) 7.9%, rgba(244,130,37,0) 15%);
 -webkit-box-decoration-break:clone;
 margin:0;
 border-radius:7.5px;
 text-shadow:-12px 12px 9.8px rgba(244,130,37,0.7),21px -18.1px 7.3px #fff,-18.1px -27.3px 30px #fff;
 border-color:transparent;
 color:var(--fc-dark)
}
body.theme-custom.theme-topsecret img,
body.theme-custom.theme-topsecret svg:not(.s-avatar--badge) {
 filter:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' %3E%3Cdefs%3E%3Cfilter id='filter' x='-20%25' y='-20%25' width='140%25' height='140%25' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeColorMatrix type='matrix' values='-1 0 0 0 1 0 -1 0 0 1 0 0 -1 0 1 0 0 0 1 0' x='0%25' y='0%25' width='100%25' height='100%25' in='SourceGraphic' result='colormatrix'/%3E%3CfeGaussianBlur stdDeviation='0' x='0%25' y='0%25' width='100%25' height='100%25' in='colormatrix' edgeMode='none' result='blur'/%3E%3CfeBlend mode='color-dodge' x='0%25' y='0%25' width='100%25' height='100%25' in='SourceGraphic' in2='blur' result='blend'/%3E%3CfeColorMatrix type='saturate' values='0' x='0%25' y='0%25' width='100%25' height='100%25' in='blend' result='colormatrix1'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E#filter") url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' %3E%3Cdefs%3E%3Cfilter id='filter' x='-20%25' y='-20%25' width='140%25' height='140%25' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeConvolveMatrix order='3 3' kernelMatrix='-1 -1 -1 -1 5 -1 -1 -1 -1' divisor='1' bias='1' targetX='0' targetY='0' edgeMode='duplicate' preserveAlpha='true' x='0%25' y='0%25' width='100%25' height='100%25' in='SourceGraphic' result='convolveMatrix'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E#filter") invert(0)
}
body.theme-custom.theme-topsecret [class*="gravatar-wrapper-"] img,
body.theme-custom.theme-topsecret .s-avatar img,
body.theme-custom.theme-topsecret .js-usermini-avatar-container img {
 filter:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' %3E%3Cdefs%3E%3Cfilter id='filter' x='-20%25' y='-20%25' width='140%25' height='140%25' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeColorMatrix type='matrix' values='-1 0 0 0 1 0 -1 0 0 1 0 0 -1 0 1 0 0 0 1 0' x='0%25' y='0%25' width='100%25' height='100%25' in='SourceGraphic' result='colormatrix'/%3E%3CfeGaussianBlur stdDeviation='20' x='0%25' y='0%25' width='100%25' height='100%25' in='colormatrix' edgeMode='none' result='blur'/%3E%3CfeBlend mode='color-dodge' x='0%25' y='0%25' width='100%25' height='100%25' in='SourceGraphic' in2='blur' result='blend'/%3E%3CfeColorMatrix type='saturate' values='0' x='0%25' y='0%25' width='100%25' height='100%25' in='blend' result='colormatrix1'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E#filter") url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' %3E%3Cdefs%3E%3Cfilter id='filter' x='-20%25' y='-20%25' width='140%25' height='140%25' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeConvolveMatrix order='3 3' kernelMatrix='-1 -1 -1 -1 8 -1 -1 -1 -1' divisor='1' bias='1' targetX='0' targetY='0' edgeMode='duplicate' preserveAlpha='true' x='0%25' y='0%25' width='100%25' height='100%25' in='SourceGraphic' result='convolveMatrix'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E#filter") invert(0)
}
body.theme-custom.theme-topsecret [class*="user-gravatar"] span {
 display:inline-block;
 filter:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' %3E%3Cdefs%3E%3Cfilter id='filter' x='-20%25' y='-20%25' width='140%25' height='140%25' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeColorMatrix type='matrix' values='-1 0 0 0 1 0 -1 0 0 1 0 0 -1 0 1 0 0 0 1 0' x='0%25' y='0%25' width='100%25' height='100%25' in='SourceGraphic' result='colormatrix'/%3E%3CfeGaussianBlur stdDeviation='20' x='0%25' y='0%25' width='100%25' height='100%25' in='colormatrix' edgeMode='none' result='blur'/%3E%3CfeBlend mode='color-dodge' x='0%25' y='0%25' width='100%25' height='100%25' in='SourceGraphic' in2='blur' result='blend'/%3E%3CfeColorMatrix type='saturate' values='0' x='0%25' y='0%25' width='100%25' height='100%25' in='blend' result='colormatrix1'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E#filter") url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' %3E%3Cdefs%3E%3Cfilter id='filter' x='-20%25' y='-20%25' width='140%25' height='140%25' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeConvolveMatrix order='3 3' kernelMatrix='-1 -1 -1 -1 8 -1 -1 -1 -1' divisor='1' bias='1' targetX='0' targetY='0' edgeMode='duplicate' preserveAlpha='true' x='0%25' y='0%25' width='100%25' height='100%25' in='SourceGraphic' result='convolveMatrix'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E#filter") invert(0)
}
body.theme-custom.theme-topsecret .s-sidebarwidget:first-child {
 transform:rotate(.1deg)
}
body.theme-custom.theme-topsecret .s-sidebarwidget:nth-child(2) {
 transform:rotate(-0.3deg)
}
body.theme-custom.theme-topsecret .af-bar {
 background-color:white !important;
 color:var(--fc-dark) !important;
 box-shadow:var(--bs-lg);
 border:1px solid var(--bc-dark)
}
body.theme-custom.theme-topsecret .af-bar svg,
body.theme-custom.theme-topsecret .af-bar img:not(.af-logo-img) {
 filter:none !important
}
body.theme-custom.theme-topsecret .af-bar .af-logo-img {
 filter:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' %3E%3Cdefs%3E%3Cfilter id='filter' x='-20%25' y='-20%25' width='140%25' height='140%25' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeColorMatrix type='matrix' values='-1 0 0 0 1 0 -1 0 0 1 0 0 -1 0 1 0 0 0 1 0' x='0%25' y='0%25' width='100%25' height='100%25' in='SourceGraphic' result='colormatrix'/%3E%3CfeGaussianBlur stdDeviation='20' x='0%25' y='0%25' width='100%25' height='100%25' in='colormatrix' edgeMode='none' result='blur'/%3E%3CfeBlend mode='color-dodge' x='0%25' y='0%25' width='100%25' height='100%25' in='SourceGraphic' in2='blur' result='blend'/%3E%3CfeColorMatrix type='saturate' values='0' x='0%25' y='0%25' width='100%25' height='100%25' in='blend' result='colormatrix1'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E#filter") url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' %3E%3Cdefs%3E%3Cfilter id='filter' x='-20%25' y='-20%25' width='140%25' height='140%25' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeConvolveMatrix order='3 3' kernelMatrix='-1 -1 -1 -1 8 -1 -1 -1 -1' divisor='1' bias='1' targetX='0' targetY='0' edgeMode='duplicate' preserveAlpha='true' x='0%25' y='0%25' width='100%25' height='100%25' in='SourceGraphic' result='convolveMatrix'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E#filter") invert(1)
}
body.theme-custom.theme-topsecret .af-bar .af-theme-button {
 --af-btn-outline-color:var(--bc-dark);
 --af-btn-selected-outline-color:var(--theme-primary-color);
 background:white !important
}
body.theme-custom.theme-frisa {
 --theme-base-primary-color-h:25;
 --theme-base-primary-color-s:69.3%;
 --theme-base-primary-color-l:55.3%;
 --theme-base-primary-color-r:220;
 --theme-base-primary-color-g:128;
 --theme-base-primary-color-b:62;
 --theme-base-secondary-color-h:339;
 --theme-base-secondary-color-s:63.2%;
 --theme-base-secondary-color-l:54.1%;
 --theme-base-secondary-color-r:212;
 --theme-base-secondary-color-g:64;
 --theme-base-secondary-color-b:115;
 --theme-wintergreen:#4fad80;
 --theme-light-purplish:#706fae;
 --theme-dark-purplish:#454690;
 --theme-button-active-background-color:var(--theme-button-filled-background-color);
 --theme-button-color:var(--theme-button-filled-background-color);
 --theme-button-hover-background-color:var(--theme-link-color);
 --theme-button-hover-color:var(--theme-button-filled-color);
 --theme-button-selected-background-color:var(--theme-button-filled-background-color);
 --theme-button-selected-color:var(--theme-button-filled-selected-color);
 --theme-button-filled-active-background-color:var(--theme-button-filled-background-color);
 --theme-button-filled-active-border-color:var(--theme-button-filled-background-color);
 --theme-button-filled-background-color:#88bf56;
 --theme-button-filled-border-color:var(--theme-button-filled-background-color);
 --theme-button-filled-color:var(--theme-button-filled-color);
 --theme-button-filled-hover-background-color:var(--theme-link-color);
 --theme-button-filled-hover-color:var(--theme-button-filled-color);
 --theme-button-filled-selected-background-color:var(--theme-button-filled-background-color);
 --theme-button-filled-selected-border-color:var(--theme-button-filled-background-color);
 --theme-button-filled-selected-color:#50ab58;
 --theme-button-outlined-border-color:var(--theme-button-filled-background-color);
 --theme-button-outlined-selected-border-color:var(--theme-button-filled-background-color);
 --theme-button-primary-active-background-color:var(--theme-secondary-color);
 --theme-button-primary-background-color:var(--theme-secondary-color);
 --theme-button-primary-hover-background-color:var(--theme-light-purplish);
 --theme-button-primary-number-color:var(--theme-button-filled-color);
 --theme-button-primary-selected-background-color:var(--theme-secondary-color);
 --theme-content-background-color:#ffffff;
 --theme-content-border-color:#ffffff;
 --theme-footer-background-color:var(--theme-dark-purplish);
 --theme-footer-divider-color:var(--theme-dark-purplish);
 --theme-footer-link-caret-color:var(--theme-dark-purplish);
 --theme-footer-link-color:#ffffff;
 --theme-footer-link-color-hover:#e0ec77;
 --theme-footer-text-color:#ababab;
 --theme-footer-title-color:#be87bd;
 --theme-link-color:#439ad5;
 --theme-link-color-hover:#4fb1a8;
 --theme-link-color-visited:#3969b6;
 --theme-header-background-color:var(--theme-secondary-color);
 --theme-header-link-color:#ffffff;
 --theme-post-owner-background-color:var(--theme-footer-link-color-hover);
 --theme-post-owner-new-background-color:var(--theme-footer-link-color-hover);
 --theme-question-title-color:#e16b56;
 --theme-question-title-color-hover:var(--theme-secondary-color);
 --theme-question-title-color-visited:var(--theme-dark-purplish);
 --theme-tag-background-color:var(--theme-light-purplish);
 --theme-tag-border-color:var(--theme-light-purplish);
 --theme-tag-color:#ffffff;
 --theme-tag-hover-background-color:var(--theme-wintergreen);
 --theme-tag-hover-border-color:var(--theme-wintergreen);
 --theme-tag-hover-color:#ffffff;
 --theme-background-color:var(--theme-link-color);
 --theme-background-size:50% auto, cover;
 --theme-background-repeat:repeat, no-repeat;
 --theme-background-attachment:fixed;
 --theme-background-position:0 0;
 --theme-topbar-accent-border:none;
 --theme-topbar-background-color:#ffffff;
 --theme-topbar-item-background-hover:var(--theme-secondary-color);
 --theme-topbar-item-border-current:var(--theme-secondary-color);
 --theme-topbar-item-color:var(--theme-secondary-color);
 --theme-topbar-item-color-current:#ffffff;
 --theme-topbar-item-color-hover:#ffffff;
 --theme-topbar-search-border-focus:var(--theme-secondary-color);
 font-family:'Nunito',sans-serif;
 font-size:15px;
 background-image:url("/web/20220331235805im_/https://cdn.sstatic.net/Img/april-fools-2022/assets/frisa-bg.png?v=3d424b05383e"),linear-gradient(135deg, #f5e256 0%, #dc803e 33%, #d44073 66%, #454690 100%)
}
body.theme-custom.theme-frisa .s-topbar {
 padding-top:4px
}
body.theme-custom.theme-frisa .s-topbar::before {
 content:"";
 position:absolute;
 top:0;
 left:0;
 width:100%;
 height:4px;
 background:linear-gradient(90deg, #f5e256 0%, #dc803e 33%, #d44073 66%, #454690 100%)
}
body.theme-custom.theme-frisa .s-topbar .s-topbar--logo:hover .-img._glyph {
 filter:invert(.5) brightness(2)
}
body.theme-custom.theme-frisa #content {
 margin:24px auto;
 border-radius:16px
}
body.theme-custom.theme-frisa .nav-links .fc-black-500 {
 color:#fff !important
}
body.theme-custom.theme-frisa .nav-links .nav-links--link,
body.theme-custom.theme-frisa .nav-links .nav-links--link:visited {
 border-radius:20px;
 margin:8px 0;
 color:#ffffff;
 background:rgba(212,64,115,0.4)
}
body.theme-custom.theme-frisa .nav-links .youarehere .nav-links--link {
 background:#fff;
 color:var(--theme-secondary-color);
 border-right:none
}
body.theme-custom.theme-frisa .nav-links .nav-links--link.-link__with-icon .svg-icon,
body.theme-custom.theme-frisa .nav-links .nav-links--link:hover .svg-icon {
 color:#fff !important
}
body.theme-custom.theme-frisa .nav-links .nav-links--link:hover {
 color:#fff;
 background:var(--theme-secondary-color)
}
body.theme-custom.theme-frisa .nav-links .youarehere .nav-links--link .svg-icon {
 color:currentColor !important
}
body.theme-custom.theme-frisa .nav-links .fs-fine {
 color:#ffffff !important;
 text-shadow:1px 1px 1px var(--theme-dark-purplish);
 font-weight:bold
}
body.theme-custom.theme-frisa .s-btn__filled:hover,
body.theme-custom.theme-frisa .s-btn__filled:focus,
body.theme-custom.theme-frisa .s-btn__filled:active {
 border-color:#439AD5
}
body.theme-custom.theme-frisa .s-btn {
 border-radius:20px
}
body.theme-custom.theme-frisa .s-input,
body.theme-custom.theme-frisa .s-textarea {
 border-radius:8px
}
body.theme-custom.theme-frisa .owner {
 border-radius:8px
}
body.theme-custom.theme-frisa .gravatar-wrapper-24 {
 border-radius:12px
}
body.theme-custom.theme-frisa .post-tag,
body.theme-custom.theme-frisa .s-tag {
 border-radius:6px
}
body.theme-custom.theme-frisa .s-sidebarwidget {
 border-radius:12px;
 box-shadow:none;
 overflow:hidden
}
body.theme-custom.theme-frisa .s-sidebarwidget--header:first-child {
 border-top:none
}
body.theme-custom.theme-frisa .s-post-summary {
 padding:24px 16px
}
body.theme-custom.theme-frisa .s-post-summary--content .s-post-summary--content-title,
body.theme-custom.theme-frisa .s-post-summary--content .s-post-summary--content-title .s-link {
 font-weight:bold
}
body.theme-custom.theme-frisa .s-post-summary--stats {
 margin-right:12px
}
body.theme-custom.theme-frisa .s-post-summary--stats .s-post-summary--stats-item.has-answers {
 color:var(--theme-wintergreen);
 border-color:var(--theme-wintergreen);
 border-radius:6px;
 padding:4px 8px
}
body.theme-custom.theme-frisa .s-post-summary--stats .s-post-summary--stats-item.has-answers.has-accepted-answer {
 background-color:var(--theme-wintergreen);
 color:#ffffff
}
body.theme-custom.theme-frisa .js-freemium-cta>div:last-child {
 background-color:var(--white)
}
body.theme-custom.theme-frisa .af-bar__big {
 background:var(--theme-footer-background-color) !important
}
body.theme-custom.theme-plumber {
 --sky:#8b7fff;
 --brick:#8c3300;
 --brick-hit:#4e0d00;
 --pipe:#2b8000;
 --item-block:#c89d02;
 --bar-height:60px;
 --theme-base-primary-color-h:99.84375;
 --theme-base-primary-color-s:100%;
 --theme-base-primary-color-l:25.09803922%;
 --theme-base-primary-color-r:43;
 --theme-base-primary-color-g:128;
 --theme-base-primary-color-b:0;
 --theme-base-secondary-color-h:21.85714286;
 --theme-base-secondary-color-s:100%;
 --theme-base-secondary-color-l:27.45098039%;
 --theme-base-secondary-color-r:140;
 --theme-base-secondary-color-g:51;
 --theme-base-secondary-color-b:0;
 --theme-background-color:var(--sky);
 --theme-content-background-color:rgba(255,255,255,0.9);
 --theme-button-primary-background-color:var(--item-block);
 --theme-button-primary-hover-background-color:var(--brick-hit);
 --theme-topbar-background-color:var(--sky);
 --theme-topbar-item-color:var(--white);
 --theme-topbar-item-color-hover:var(--black);
 background:url("/web/20220331235805im_/https://cdn.sstatic.net/Img/april-fools-2022/assets/cloud.svg?v=817468d1c875") -2% 110px/118px auto no-repeat,url("/web/20220331235805im_/https://cdn.sstatic.net/Img/april-fools-2022/assets/cloud.svg?v=817468d1c875") 6% 260px/118px auto no-repeat,url("/web/20220331235805im_/https://cdn.sstatic.net/Img/april-fools-2022/assets/cloud.svg?v=817468d1c875") 101% 220px/118px auto no-repeat,url("/web/20220331235805im_/https://cdn.sstatic.net/Img/april-fools-2022/assets/cloud.svg?v=817468d1c875") 90% 110px/118px auto no-repeat,url("/web/20220331235805im_/https://cdn.sstatic.net/Img/april-fools-2022/assets/blocks-left.svg?v=e515c1d7c7d9") 0 calc(100% - var(--bar-height))/15% auto no-repeat,url("/web/20220331235805im_/https://cdn.sstatic.net/Img/april-fools-2022/assets/blocks-right.svg?v=ff2a999b5c52") 100% calc(100% - var(--bar-height))/15% auto no-repeat,var(--theme-background-color);
 background-attachment:fixed
}
body.theme-custom.theme-plumber * {
 -webkit-font-smoothing:none;
 image-rendering:pixelated
}
body.theme-custom.theme-plumber .s-topbar .s-user-card .-badges,
body.theme-custom.theme-plumber .s-topbar--item .-badges * {
 color:inherit !important
}
body.theme-custom.theme-plumber .s-topbar--logo .-img._glyph {
 filter:invert(.5) brightness(2)
}
body.theme-custom.theme-plumber .s-topbar--logo:hover .-img._glyph {
 filter:invert(.5) brightness(0)
}
body.theme-custom.theme-plumber .s-btn__primary::before,
body.theme-custom.theme-plumber .s-btn__filled::before {
 content:"";
 width:48px;
 height:48px;
 border-radius:100%;
 position:absolute;
 top:0;
 left:50%;
 transform:translateX(-50%);
 display:none;
 background:url("/web/20220331235805im_/https://cdn.sstatic.net/Img/april-fools-2022/assets/coin.png?v=ca0d5083f7c7") no-repeat;
 background-size:contain;
 image-rendering:pixelated
}
body.theme-custom.theme-plumber .s-btn__primary:hover::before,
body.theme-custom.theme-plumber .s-btn__filled:hover::before {
 bottom:calc(100% + 4px);
 top:auto;
 display:block
}
body.theme-custom.theme-plumber #left-sidebar {
 background:var(--theme-content-background-color)
}
body.theme-custom.theme-plumber .nav-links .nav-links--link,
body.theme-custom.theme-plumber .nav-links .nav-links--link:visited {
 color:var(--fc-medium)
}
body.theme-custom.theme-plumber .af-bar__big {
 background:url("/web/20220331235805im_/https://cdn.sstatic.net/Img/april-fools-2022/assets/brick.png?v=fed5f69efacc") repeat !important;
 border:0 !important;
 height:var(--bar-height)
}
body.theme-custom.theme-plumber .af-bar__big .af-author-container,
body.theme-custom.theme-plumber .af-bar__big .af-logo-container,
body.theme-custom.theme-plumber .af-bar__big .af-minimize-bar-container {
 background:rgba(0,0,0,0.5);
 border-radius:2px
}
body.theme-custom.theme-bookface {
 --theme-base-primary-color-h:221;
 --theme-base-primary-color-s:42.3%;
 --theme-base-primary-color-l:30.6%;
 --theme-base-primary-color-r:45;
 --theme-base-primary-color-g:66;
 --theme-base-primary-color-b:111;
 --theme-background-color:#eaebef;
 --theme-button-primary-background-color:#4e629d;
 --theme-footer-background-color:var(--theme-primary-color);
 --theme-footer-link-color:#cad6e2;
 --theme-footer-link-color-hover:#ffffff;
 --theme-footer-text-color:#cad6e2;
 --theme-footer-title-color:#a4ccf4;
 --theme-header-background-color:var(--theme-primary-color);
 --theme-header-link-color:var(--theme-primary-color);
 --theme-post-owner-background-color:#eeedf2;
 --theme-topbar-background-color:#3b5999;
 --theme-topbar-item-background-hover:var(--theme-primary-color);
 --theme-topbar-item-color:#1c3163;
 --theme-topbar-item-color-hover:#a8bcee;
 --theme-tag-background-color:#eeedf2
}
body.theme-custom.theme-bookface .s-topbar .s-user-card,
body.theme-custom.theme-bookface .s-topbar .s-navigation .s-navigation--item {
 color:#fff
}
body.theme-custom.theme-bookface .s-topbar--logo .-img {
 filter:invert(.5) brightness(2)
}
body.theme-custom.theme-bookface .user-details a {
 color:#4a6cbd;
 font-weight:bold
}
body.theme-custom.theme-bookface .js-voting-container {
 color:#6b7179 !important
}
body.theme-custom.theme-bookface .af-bar {
 background:var(--theme-footer-background-color) !important;
 background-color:var(--black-800)
}
body.theme-custom.theme-bookface .af-theme-button {
 --af-btn-focus-outline-color:var(--white)
}
body.theme-custom.theme-3d {
 --theme-topbar-background-color:var(--theme-background-color);
 --theme-topbar-accent-border:none;
 --theme-topbar-item-color-hover:black
}
body.theme-custom.theme-3d img.s-avatar--image,
body.theme-custom.theme-3d .gravatar-wrapper-24,
body.theme-custom.theme-3d img {
 filter:grayscale(80%) brightness(1.75) drop-shadow(4px 0 0 red) drop-shadow(-4px 0 0 cyan) !important;
 opacity:.75
}
body.theme-custom.theme-3d svg,
body.theme-custom.theme-3d .icon-bg,
body.theme-custom.theme-3d .wmd-button,
body.theme-custom.theme-3d input[type=radio],
body.theme-custom.theme-3d input[type=checkbox] {
 filter:grayscale(80%) saturate(.1) drop-shadow(-4px 0 0 cyan) drop-shadow(4px 0 0 red)
}
body.theme-custom.theme-3d h1,
body.theme-custom.theme-3d h2,
body.theme-custom.theme-3d h3,
body.theme-custom.theme-3d h4,
body.theme-custom.theme-3d h5,
body.theme-custom.theme-3d h6,
body.theme-custom.theme-3d p,
body.theme-custom.theme-3d a,
body.theme-custom.theme-3d li,
body.theme-custom.theme-3d span,
body.theme-custom.theme-3d label,
body.theme-custom.theme-3d button,
body.theme-custom.theme-3d div,
body.theme-custom.theme-3d input,
body.theme-custom.theme-3d select,
body.theme-custom.theme-3d textarea,
body.theme-custom.theme-3d ::before,
body.theme-custom.theme-3d ::after {
 text-overflow:clip;
 letter-spacing:3px;
 text-shadow:-3px 0 1px cyan,3px 0 1px red
}
body.theme-custom.theme-3d .s-topbar--logo .-img._glyph,
body.theme-custom.theme-3d .site-footer--logo a {
 filter:grayscale(80%) saturate(.1) drop-shadow(4px 0 0 red) drop-shadow(-4px 0 0 cyan);
 opacity:.75
}
body.theme-custom.theme-3d .s-topbar--logo:hover {
 background-color:transparent
}
body.theme-custom.theme-3d .s-topbar--logo:hover .-img._glyph {
 opacity:1
}
body.theme-custom.theme-3d .site-footer--logo svg {
 filter:drop-shadow(-4px 0 0 cyan)
}
body.theme-custom.theme-3d .nav-links span,
body.theme-custom.theme-3d .nav-links div,
body.theme-custom.theme-3d .nav-links a,
body.theme-custom.theme-3d .post-signature *,
body.theme-custom.theme-3d .mdhelp-tabs * {
 letter-spacing:0 !important
}
body.theme-custom.theme-3d .af-bar * {
 filter:none !important;
 text-shadow:none !important;
 letter-spacing:initial !important;
 opacity:1
}
body.theme-custom.theme-3d .js-zone-container,
body.theme-custom.theme-3d #hireme,
body.theme-custom.theme-3d .mixed-site-content,
body.theme-custom.theme-3d .js-zone-container *,
body.theme-custom.theme-3d #hireme *,
body.theme-custom.theme-3d .mixed-site-content * {
 filter:none !important;
 text-shadow:none !important;
 letter-spacing:initial !important;
 opacity:1
}
