/* ==UserStyle==
@name           Top-secret filter
@namespace      github.com/zurgeg/so-filters
@version        2.0.0
@description    You weren't supposed to see this!
@author         zurgeg, the CIA
==/UserStyle== */
@-moz-document domain("stackoverflow.com"), domain("serverfault.com"), domain("stackexchange.com"), domain("askubuntu.com") {
    body.unified-theme {
        --theme-question-title-color: var(--theme-body-color);
        --theme-question-title-font-family: var(--theme-body-font-family);
        --theme-question-body-font-family: var(--theme-body-font-family);
        --theme-question-title-color: var(--theme-link-color);
        --theme-question-title-color-hover: var(--theme-link-color-hover);
        --theme-question-title-color-visited: var(--theme-link-color-visited)
    }
    body.unified-theme .s-btn__muted {
        color: var(--fc-light)
    }
    body.unified-theme .s-btn__muted:hover,
    body.unified-theme .s-btn__muted:focus,
    body.unified-theme .s-btn__muted:active {
        color: var(--fc-medium);
        background-color: var(--black-025)
    }
    body.unified-theme .s-btn__muted:active {
        background: var(--black-025)
    }
    body.unified-theme .s-btn__muted.is-selected {
        color: var(--fc-medium);
        background-color: var(--black-075)
    }
    body.unified-theme .s-btn__muted.s-btn__outlined {
        border-color: var(--black-300)
    }
    body.unified-theme .s-btn__muted.s-btn__outlined.is-selected {
        border-color: var(--black-400)
    }
    body.unified-theme .s-btn__muted.s-btn__filled {
        color: var(--fc-medium);
        background-color: var(--black-100)
    }
    body.unified-theme .s-btn__muted.s-btn__filled:hover,
    body.unified-theme .s-btn__muted.s-btn__filled:focus,
    body.unified-theme .s-btn__muted.s-btn__filled:active {
        color: var(--fc-medium);
        background-color: var(--black-150)
    }
    body.unified-theme .s-btn__muted.s-btn__filled:active {
        background-color: var(--black-200)
    }
    body.unified-theme .s-btn__muted.s-btn__filled.is-selected {
        color: var(--fc-dark);
        background-color: var(--black-350)
    }
    body.unified-theme .s-sidebarwidget {
        --sidebarwidget-outer-border-color: var(--bc-medium);
        --sidebarwidget-content-separator-color: var(--bc-light);
        --sidebarwidget-header-background-color: var(--black-025);
        --sidebarwidget-background-color: var(--white);
        border: 1px solid var(--sidebarwidget-outer-border-color);
        background-color: var(--sidebarwidget-background-color)
    }
    body.unified-theme .s-sidebarwidget:not(.s-anchors) a:not(.button):not(.s-btn):not(.post-tag):not(.s-sidebarwidget--action):not(.s-user-card--link),
    body.unified-theme .s-sidebarwidget:not(.s-anchors) a:not(.button):not(.s-btn):not(.post-tag):not(.s-sidebarwidget--action):not(.s-user-card--link):visited {
        color: var(--fc-light)
    }
    body.unified-theme .s-sidebarwidget:after {
        border-top: 1px solid var(--sidebarwidget-outer-border-color)
    }
    @supports ((-webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)) or (clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%))) or (-webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)) {
        body.unified-theme .s-sidebarwidget:after {
            border: 1px solid var(--sidebarwidget-outer-border-color)
        }
    }
    body.unified-theme .s-sidebarwidget .s-sidebarwidget--header,
    body.unified-theme .s-sidebarwidget .s-sidebarwidget--content {
        border-top: 1px solid var(--sidebarwidget-content-separator-color)
    }
    body.unified-theme .s-sidebarwidget .s-sidebarwidget--header {
        background: var(--sidebarwidget-header-background-color);
        color: var(--fc-medium)
    }
    body.unified-theme .s-sidebarwidget .s-sidebarwidget--action {
        color: var(--theme-link-color)
    }
    body.unified-theme .s-sidebarwidget .s-sidebarwidget--item,
    body.unified-theme .s-sidebarwidget .s-sidebarwidget--item > :first-child {
        color: var(--fc-dark)
    }
    body.unified-theme .s-sidebarwidget .s-sidebarwidget--subnav[aria-current="true"],
    body.unified-theme .s-sidebarwidget .s-sidebarwidget--subnav[aria-current="page"] {
        color: var(--fc-dark)
    }
    body.unified-theme .s-sidebarwidget__yellow,
    body.unified-theme .s-sidebarwidget__blue,
    body.unified-theme .s-sidebarwidget__green {
        border-color: var(--sidebarwidget-outer-border-color);
        background-color: var(--sidebarwidget-background-color)
    }
    body.unified-theme .s-sidebarwidget__yellow .s-sidebarwidget--header,
    body.unified-theme .s-sidebarwidget__blue .s-sidebarwidget--header,
    body.unified-theme .s-sidebarwidget__green .s-sidebarwidget--header {
        background-color: var(--sidebarwidget-background-color);
        color: var(--fc-medium)
    }
    body.unified-theme .s-sidebarwidget__yellow .s-sidebarwidget--header,
    body.unified-theme .s-sidebarwidget__blue .s-sidebarwidget--header,
    body.unified-theme .s-sidebarwidget__green .s-sidebarwidget--header,
    body.unified-theme .s-sidebarwidget__yellow .s-sidebarwidget--content,
    body.unified-theme .s-sidebarwidget__blue .s-sidebarwidget--content,
    body.unified-theme .s-sidebarwidget__green .s-sidebarwidget--content {
        border-color: var(--sidebarwidget-outer-border-color)
    }
    body.unified-theme .s-sidebarwidget__yellow:after,
    body.unified-theme .s-sidebarwidget__blue:after,
    body.unified-theme .s-sidebarwidget__green:after {
        border-color: var(--sidebarwidget-outer-border-color)
    }
    body.unified-theme .s-breadcrumbs {
        color: var(--fc-light)
    }
    body.unified-theme .s-breadcrumbs .s-breadcrumbs--link {
        color: var(--fc-light)
    }
    body.unified-theme .s-breadcrumbs .s-breadcrumbs--link:hover {
        color: var(--fc-medium)
    }
    body.unified-theme #question-header .question-hyperlink {
        color: var(--theme-body-font-color)
    }
    body.unified-theme .s-topbar--item:hover .-badges * {
        color: inherit !important
    }
    body.unified-theme .js-zone-container,
    body.unified-theme #hireme,
    body.unified-theme .mixed-site-content,
    body.unified-theme .js-zone-container *,
    body.unified-theme #hireme *,
    body.unified-theme .mixed-site-content * {
        filter: none !important
    }
    body.unified-theme {
        --theme-body-font-family: Courier, serif;
        --ff-mono: var(--theme-body-font-family);
        --theme-question-body-font-family: #232629;
        --theme-question-title-font-family: var(--theme-body-font-family);
        --theme-body-font-color: #000000;
        --theme-content-border-color: var(--bc-darker);
        --theme-topbar-background-color: white;
        --theme-topbar-select-background: white;
        --theme-button-active-background-color: #ffffff;
        --theme-button-background-color: #ffffff;
        --theme-button-color: var(--fc-medium);
        --theme-button-hover-background-color: #ffffff;
        --theme-button-hover-color: var(--fc-dark);
        --theme-button-selected-background-color: #ffffff;
        --theme-button-selected-color: var(--fc-dark);
        --theme-button-filled-active-background-color: #ffffff;
        --theme-button-filled-active-border-color: var(--fc-dark);
        --theme-button-filled-background-color: #ffffff;
        --theme-button-filled-border-color: var(--fc-medium);
        --theme-button-filled-color: var(--fc-medium);
        --theme-button-filled-hover-background-color: #ffffff;
        --theme-button-filled-hover-color: var(--fc-dark);
        --theme-button-filled-selected-background-color: #ffffff;
        --theme-button-filled-selected-border-color: var(--fc-dark);
        --theme-button-filled-selected-color: var(--fc-dark);
        --theme-button-outlined-border-color: var(--fc-medium);
        --theme-button-outlined-selected-border-color: var(--fc-dark);
        --topsecret-image: url("/web/20220331235805im_/https://cdn.sstatic.net/Img/april-fools-2022/assets/confidential.svg?v=eb675da66cdd");
        --fc-dark: #0c0d0e;
        --fc-medium: #3b4045;
        --fc-light: #6a737c;
        --bc-lightest: var(--fc-light);
        --bc-lighter: var(--fc-light);
        --bc-light: var(--fc-medium);
        --bc-medium: var(--fc-medium);
        --bc-dark: var(--fc-dark);
        --bc-darker: var(--fc-dark);
        --bs-sm: var(--bs-lg);
        --bs-md: var(--bs-lg);
        --bs-xl: var(--bs-lg)
    }
    body.unified-theme a:not(.s-btn),
    body.unified-theme a:not(.s-btn):hover,
    body.unified-theme .s-link,
    body.unified-theme .s-link:hover {
        text-decoration: underline;
        text-decoration-skip-ink: none
    }
    body.unified-theme .s-topbar .s-user-card .-badges,
    body.unified-theme .s-topbar--item .-badges * {
        color: inherit !important
    }
    body.unified-theme .s-topbar--logo .-img {
        filter: invert(.5) brightness(0)
    }
    body.unified-theme #content::before {
        content: "";
        background: var(--topsecret-image) no-repeat center;
        background-size: contain;
        transform: rotate(-18deg);
        width: 150px;
        height: 150px;
        pointer-events: none;
        position: absolute;
        top: 0px;
        left: 150px;
        z-index: 5000
    }
    @media screen and (max-width: 640px) {
        html.html__responsive body.unified-theme #content::before {
            width: 100px;
            height: 100px;
            left: 0
        }
    }
    @media print {
        body.unified-theme #content::before {
            width: 100px;
            height: 100px;
            left: 0
        }
    }
    body.unified-theme #question-mini-list > :nth-child(2n),
    body.unified-theme #questions > :nth-child(2n),
    body.unified-theme .js-search-results > * > :nth-child(2n) {
        font-family: 'Flow Block', serif !important
    }
    body.unified-theme #question-mini-list > :nth-child(2n),
    body.unified-theme #questions > :nth-child(2n),
    body.unified-theme .js-search-results > * > :nth-child(2n),
    body.unified-theme #question-mini-list > :nth-child(2n) *,
    body.unified-theme #questions > :nth-child(2n) *,
    body.unified-theme .js-search-results > * > :nth-child(2n) * {
        text-decoration: none !important
    }
    body.unified-theme #question-mini-list > :nth-child(2n):hover,
    body.unified-theme #questions > :nth-child(2n):hover,
    body.unified-theme .js-search-results > * > :nth-child(2n):hover,
    body.unified-theme #question-mini-list > :nth-child(2n):focus,
    body.unified-theme #questions > :nth-child(2n):focus,
    body.unified-theme .js-search-results > * > :nth-child(2n):focus,
    body.unified-theme #question-mini-list > :nth-child(2n):active,
    body.unified-theme #questions > :nth-child(2n):active,
    body.unified-theme .js-search-results > * > :nth-child(2n):active {
        font-family: revert !important
    }
    body.unified-theme .s-prose :nth-of-type(2n),
    body.unified-theme .post-layout :nth-child(5n) {
        font-family: 'Flow Block', serif !important
    }
    body.unified-theme .s-prose :nth-of-type(2n),
    body.unified-theme .post-layout :nth-child(5n),
    body.unified-theme .s-prose :nth-of-type(2n) *,
    body.unified-theme .post-layout :nth-child(5n) * {
        text-decoration: none !important
    }
    body.unified-theme .s-prose :nth-of-type(2n):hover,
    body.unified-theme .post-layout :nth-child(5n):hover,
    body.unified-theme .s-prose :nth-of-type(2n):focus,
    body.unified-theme .post-layout :nth-child(5n):focus,
    body.unified-theme .s-prose :nth-of-type(2n):active,
    body.unified-theme .post-layout :nth-child(5n):active {
        font-family: revert !important
    }
    body.unified-theme .s-post-summary:nth-of-type(6n) .s-post-summary--content-title a {
        font-family: 'Flow Block', serif !important
    }
    body.unified-theme .s-post-summary:nth-of-type(6n) .s-post-summary--content-title a,
    body.unified-theme .s-post-summary:nth-of-type(6n) .s-post-summary--content-title a * {
        text-decoration: none !important
    }
    body.unified-theme .s-post-summary:nth-of-type(6n) .s-post-summary--content-title a:hover,
    body.unified-theme .s-post-summary:nth-of-type(6n) .s-post-summary--content-title a:focus,
    body.unified-theme .s-post-summary:nth-of-type(6n) .s-post-summary--content-title a:active {
        font-family: revert !important
    }
    body.unified-theme #mainbar-full :nth-of-type(6n) {
        font-family: 'Flow Block', serif !important
    }
    body.unified-theme #mainbar-full :nth-of-type(6n),
    body.unified-theme #mainbar-full :nth-of-type(6n) * {
        text-decoration: none !important
    }
    body.unified-theme #mainbar-full :nth-of-type(6n):hover,
    body.unified-theme #mainbar-full :nth-of-type(6n):focus,
    body.unified-theme #mainbar-full :nth-of-type(6n):active {
        font-family: revert !important
    }
    body.unified-theme .js-zone-container,
    body.unified-theme #hireme,
    body.unified-theme .mixed-site-content,
    body.unified-theme .js-zone-container *,
    body.unified-theme #hireme *,
    body.unified-theme .mixed-site-content * {
        font-family: var(--theme-body-font-family) !important
    }
    body.unified-theme .s-badge.s-badge__staff {
        font-weight: bolder;
        background: linear-gradient(104deg, rgba(244, 130, 37, 0) .9%, #f48225 2.4%, rgba(244, 130, 37, 0.5) 5.8%, rgba(244, 130, 37, 0.1) 93%, rgba(244, 130, 37, 0.7) 96%, rgba(244, 130, 37, 0) 98%), linear-gradient(183deg, rgba(244, 130, 37, 0) 0%, rgba(244, 130, 37, 0.3) 7.9%, rgba(244, 130, 37, 0) 15%);
        -webkit-box-decoration-break: clone;
        margin: 0;
        border-radius: 7.5px;
        text-shadow: -12px 12px 9.8px rgba(244, 130, 37, 0.7), 21px -18.1px 7.3px #fff, -18.1px -27.3px 30px #fff;
        border-color: transparent;
        color: var(--fc-dark)
    }
    body.unified-theme .s-badge.s-badge__moderator {
        font-weight: bolder;
        background: linear-gradient(104deg, rgba(217, 234, 247, 0) .9%, #d9eaf7 2.4%, rgba(217, 234, 247, 0.5) 5.8%, rgba(217, 234, 247, 0.1) 93%, rgba(217, 234, 247, 0.7) 96%, rgba(217, 234, 247, 0) 98%), linear-gradient(183deg, rgba(217, 234, 247, 0) 0%, rgba(217, 234, 247, 0.3) 7.9%, rgba(217, 234, 247, 0) 15%);
        -webkit-box-decoration-break: clone;
        margin: 0;
        border-radius: 7.5px;
        text-shadow: -12px 12px 9.8px rgba(217, 234, 247, 0.7), 21px -18.1px 7.3px #fff, -18.1px -27.3px 30px #fff;
        border-color: transparent;
        color: var(--fc-dark)
    }
    body.unified-theme .s-post-summary--stats-item.has-accepted-answer {
        font-weight: bolder;
        background: linear-gradient(104deg, rgba(72, 168, 104, 0) .9%, #48a868 2.4%, rgba(72, 168, 104, 0.5) 5.8%, rgba(72, 168, 104, 0.1) 93%, rgba(72, 168, 104, 0.7) 96%, rgba(72, 168, 104, 0) 98%), linear-gradient(183deg, rgba(72, 168, 104, 0) 0%, rgba(72, 168, 104, 0.3) 7.9%, rgba(72, 168, 104, 0) 15%);
        -webkit-box-decoration-break: clone;
        margin: 0;
        border-radius: 7.5px;
        text-shadow: -12px 12px 9.8px rgba(72, 168, 104, 0.7), 21px -18.1px 7.3px #fff, -18.1px -27.3px 30px #fff;
        border-color: transparent;
        color: var(--fc-dark)
    }
    body.unified-theme .s-post-summary.s-post-summary__watched {
        font-weight: bolder;
        background: linear-gradient(104deg, rgba(255, 255, 40, 0) .9%, #ffff28 2.4%, rgba(255, 255, 40, 0.5) 5.8%, rgba(255, 255, 40, 0.1) 93%, rgba(255, 255, 40, 0.7) 96%, rgba(255, 255, 40, 0) 98%), linear-gradient(183deg, rgba(255, 255, 40, 0) 0%, rgba(255, 255, 40, 0.3) 7.9%, rgba(255, 255, 40, 0) 15%);
        -webkit-box-decoration-break: clone;
        margin: 0;
        border-radius: 7.5px;
        text-shadow: -12px 12px 9.8px rgba(255, 255, 40, 0.7), 21px -18.1px 7.3px #fff, -18.1px -27.3px 30px #fff;
        border-color: transparent;
        color: var(--fc-dark)
    }
    body.unified-theme .s-post-summary.s-post-summary__deleted {
        background-color: transparent
    }
    body.unified-theme .s-post-summary.s-post-summary__deleted .s-post-summary--stats-item.is-deleted {
        font-weight: bolder;
        background: linear-gradient(104deg, rgba(208, 57, 62, 0) .9%, #d0393e 2.4%, rgba(208, 57, 62, 0.5) 5.8%, rgba(208, 57, 62, 0.1) 93%, rgba(208, 57, 62, 0.7) 96%, rgba(208, 57, 62, 0) 98%), linear-gradient(183deg, rgba(208, 57, 62, 0) 0%, rgba(208, 57, 62, 0.3) 7.9%, rgba(208, 57, 62, 0) 15%);
        -webkit-box-decoration-break: clone;
        margin: 0;
        border-radius: 7.5px;
        text-shadow: -12px 12px 9.8px rgba(208, 57, 62, 0.7), 21px -18.1px 7.3px #fff, -18.1px -27.3px 30px #fff;
        border-color: transparent;
        color: var(--fc-dark)
    }
    body.unified-theme .nav-links .youarehere {
        font-weight: bolder;
        background: linear-gradient(104deg, rgba(255, 255, 40, 0) .9%, #ffff28 2.4%, rgba(255, 255, 40, 0.5) 5.8%, rgba(255, 255, 40, 0.1) 93%, rgba(255, 255, 40, 0.7) 96%, rgba(255, 255, 40, 0) 98%), linear-gradient(183deg, rgba(255, 255, 40, 0) 0%, rgba(255, 255, 40, 0.3) 7.9%, rgba(255, 255, 40, 0) 15%);
        -webkit-box-decoration-break: clone;
        margin: 0;
        border-radius: 7.5px;
        text-shadow: -12px 12px 9.8px rgba(255, 255, 40, 0.7), 21px -18.1px 7.3px #fff, -18.1px -27.3px 30px #fff;
        border-color: transparent;
        color: var(--fc-dark)
    }
    body.unified-theme .nav-links .youarehere .nav-links--link {
        border: 0;
        background: transparent
    }
    body.unified-theme .s-navigation--item.is-selected {
        font-weight: bolder;
        background: linear-gradient(104deg, rgba(244, 130, 37, 0) .9%, #f48225 2.4%, rgba(244, 130, 37, 0.5) 5.8%, rgba(244, 130, 37, 0.1) 93%, rgba(244, 130, 37, 0.7) 96%, rgba(244, 130, 37, 0) 98%), linear-gradient(183deg, rgba(244, 130, 37, 0) 0%, rgba(244, 130, 37, 0.3) 7.9%, rgba(244, 130, 37, 0) 15%);
        -webkit-box-decoration-break: clone;
        margin: 0;
        border-radius: 7.5px;
        text-shadow: -12px 12px 9.8px rgba(244, 130, 37, 0.7), 21px -18.1px 7.3px #fff, -18.1px -27.3px 30px #fff;
        border-color: transparent;
        color: var(--fc-dark)
    }
    body.unified-theme .s-btn-group .s-btn {
        border-top: 0;
        border-bottom: 0;
        border-radius: 0
    }
    body.unified-theme .s-btn-group .is-selected {
        font-weight: bolder;
        background: linear-gradient(104deg, rgba(130, 255, 173, 0) .9%, #82ffad 2.4%, rgba(130, 255, 173, 0.5) 5.8%, rgba(130, 255, 173, 0.1) 93%, rgba(130, 255, 173, 0.7) 96%, rgba(130, 255, 173, 0) 98%), linear-gradient(183deg, rgba(130, 255, 173, 0) 0%, rgba(130, 255, 173, 0.3) 7.9%, rgba(130, 255, 173, 0) 15%);
        -webkit-box-decoration-break: clone;
        margin: 0;
        border-radius: 7.5px;
        text-shadow: -12px 12px 9.8px rgba(130, 255, 173, 0.7), 21px -18.1px 7.3px #fff, -18.1px -27.3px 30px #fff;
        border-color: transparent;
        color: var(--fc-dark)
    }
    body.unified-theme .subtabs a,
    body.unified-theme .filter a {
        border: 0
    }
    body.unified-theme .subtabs a.youarehere,
    body.unified-theme .filter a.youarehere,
    body.unified-theme .subtabs a.active,
    body.unified-theme .filter a.active {
        font-weight: bolder;
        background: linear-gradient(104deg, rgba(244, 130, 37, 0) .9%, #f48225 2.4%, rgba(244, 130, 37, 0.5) 5.8%, rgba(244, 130, 37, 0.1) 93%, rgba(244, 130, 37, 0.7) 96%, rgba(244, 130, 37, 0) 98%), linear-gradient(183deg, rgba(244, 130, 37, 0) 0%, rgba(244, 130, 37, 0.3) 7.9%, rgba(244, 130, 37, 0) 15%);
        -webkit-box-decoration-break: clone;
        margin: 0;
        border-radius: 7.5px;
        text-shadow: -12px 12px 9.8px rgba(244, 130, 37, 0.7), 21px -18.1px 7.3px #fff, -18.1px -27.3px 30px #fff;
        border-color: transparent;
        color: var(--fc-dark)
    }
    body.unified-theme .s-pagination {
        border: 0
    }
    body.unified-theme .s-pagination .is-selected {
        font-weight: bolder;
        background: linear-gradient(104deg, rgba(244, 130, 37, 0) .9%, #f48225 2.4%, rgba(244, 130, 37, 0.5) 5.8%, rgba(244, 130, 37, 0.1) 93%, rgba(244, 130, 37, 0.7) 96%, rgba(244, 130, 37, 0) 98%), linear-gradient(183deg, rgba(244, 130, 37, 0) 0%, rgba(244, 130, 37, 0.3) 7.9%, rgba(244, 130, 37, 0) 15%);
        -webkit-box-decoration-break: clone;
        margin: 0;
        border-radius: 7.5px;
        text-shadow: -12px 12px 9.8px rgba(244, 130, 37, 0.7), 21px -18.1px 7.3px #fff, -18.1px -27.3px 30px #fff;
        border-color: transparent;
        color: var(--fc-dark)
    }
    body.unified-theme img,
    body.unified-theme svg:not(.s-avatar--badge) {
        filter: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' %3E%3Cdefs%3E%3Cfilter id='filter' x='-20%25' y='-20%25' width='140%25' height='140%25' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeColorMatrix type='matrix' values='-1 0 0 0 1 0 -1 0 0 1 0 0 -1 0 1 0 0 0 1 0' x='0%25' y='0%25' width='100%25' height='100%25' in='SourceGraphic' result='colormatrix'/%3E%3CfeGaussianBlur stdDeviation='0' x='0%25' y='0%25' width='100%25' height='100%25' in='colormatrix' edgeMode='none' result='blur'/%3E%3CfeBlend mode='color-dodge' x='0%25' y='0%25' width='100%25' height='100%25' in='SourceGraphic' in2='blur' result='blend'/%3E%3CfeColorMatrix type='saturate' values='0' x='0%25' y='0%25' width='100%25' height='100%25' in='blend' result='colormatrix1'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E#filter") url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' %3E%3Cdefs%3E%3Cfilter id='filter' x='-20%25' y='-20%25' width='140%25' height='140%25' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeConvolveMatrix order='3 3' kernelMatrix='-1 -1 -1 -1 5 -1 -1 -1 -1' divisor='1' bias='1' targetX='0' targetY='0' edgeMode='duplicate' preserveAlpha='true' x='0%25' y='0%25' width='100%25' height='100%25' in='SourceGraphic' result='convolveMatrix'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E#filter") invert(0)
    }
    body.unified-theme [class*="gravatar-wrapper-"] img,
    body.unified-theme .s-avatar img,
    body.unified-theme .js-usermini-avatar-container img {
        filter: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' %3E%3Cdefs%3E%3Cfilter id='filter' x='-20%25' y='-20%25' width='140%25' height='140%25' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeColorMatrix type='matrix' values='-1 0 0 0 1 0 -1 0 0 1 0 0 -1 0 1 0 0 0 1 0' x='0%25' y='0%25' width='100%25' height='100%25' in='SourceGraphic' result='colormatrix'/%3E%3CfeGaussianBlur stdDeviation='20' x='0%25' y='0%25' width='100%25' height='100%25' in='colormatrix' edgeMode='none' result='blur'/%3E%3CfeBlend mode='color-dodge' x='0%25' y='0%25' width='100%25' height='100%25' in='SourceGraphic' in2='blur' result='blend'/%3E%3CfeColorMatrix type='saturate' values='0' x='0%25' y='0%25' width='100%25' height='100%25' in='blend' result='colormatrix1'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E#filter") url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' %3E%3Cdefs%3E%3Cfilter id='filter' x='-20%25' y='-20%25' width='140%25' height='140%25' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeConvolveMatrix order='3 3' kernelMatrix='-1 -1 -1 -1 8 -1 -1 -1 -1' divisor='1' bias='1' targetX='0' targetY='0' edgeMode='duplicate' preserveAlpha='true' x='0%25' y='0%25' width='100%25' height='100%25' in='SourceGraphic' result='convolveMatrix'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E#filter") invert(0)
    }
    body.unified-theme [class*="user-gravatar"] span {
        display: inline-block;
        filter: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' %3E%3Cdefs%3E%3Cfilter id='filter' x='-20%25' y='-20%25' width='140%25' height='140%25' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeColorMatrix type='matrix' values='-1 0 0 0 1 0 -1 0 0 1 0 0 -1 0 1 0 0 0 1 0' x='0%25' y='0%25' width='100%25' height='100%25' in='SourceGraphic' result='colormatrix'/%3E%3CfeGaussianBlur stdDeviation='20' x='0%25' y='0%25' width='100%25' height='100%25' in='colormatrix' edgeMode='none' result='blur'/%3E%3CfeBlend mode='color-dodge' x='0%25' y='0%25' width='100%25' height='100%25' in='SourceGraphic' in2='blur' result='blend'/%3E%3CfeColorMatrix type='saturate' values='0' x='0%25' y='0%25' width='100%25' height='100%25' in='blend' result='colormatrix1'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E#filter") url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' %3E%3Cdefs%3E%3Cfilter id='filter' x='-20%25' y='-20%25' width='140%25' height='140%25' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeConvolveMatrix order='3 3' kernelMatrix='-1 -1 -1 -1 8 -1 -1 -1 -1' divisor='1' bias='1' targetX='0' targetY='0' edgeMode='duplicate' preserveAlpha='true' x='0%25' y='0%25' width='100%25' height='100%25' in='SourceGraphic' result='convolveMatrix'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E#filter") invert(0)
    }
    body.unified-theme .s-sidebarwidget:first-child {
        transform: rotate(.1deg)
    }
    body.unified-theme .s-sidebarwidget:nth-child(2) {
        transform: rotate(-0.3deg)
    }
    body.unified-theme .af-bar {
        background-color: white !important;
        color: var(--fc-dark) !important;
        box-shadow: var(--bs-lg);
        border: 1px solid var(--bc-dark)
    }
    body.unified-theme .af-bar svg,
    body.unified-theme .af-bar img:not(.af-logo-img) {
        filter: none !important
    }
    body.unified-theme .af-bar .af-logo-img {
        filter: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' %3E%3Cdefs%3E%3Cfilter id='filter' x='-20%25' y='-20%25' width='140%25' height='140%25' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeColorMatrix type='matrix' values='-1 0 0 0 1 0 -1 0 0 1 0 0 -1 0 1 0 0 0 1 0' x='0%25' y='0%25' width='100%25' height='100%25' in='SourceGraphic' result='colormatrix'/%3E%3CfeGaussianBlur stdDeviation='20' x='0%25' y='0%25' width='100%25' height='100%25' in='colormatrix' edgeMode='none' result='blur'/%3E%3CfeBlend mode='color-dodge' x='0%25' y='0%25' width='100%25' height='100%25' in='SourceGraphic' in2='blur' result='blend'/%3E%3CfeColorMatrix type='saturate' values='0' x='0%25' y='0%25' width='100%25' height='100%25' in='blend' result='colormatrix1'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E#filter") url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' %3E%3Cdefs%3E%3Cfilter id='filter' x='-20%25' y='-20%25' width='140%25' height='140%25' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeConvolveMatrix order='3 3' kernelMatrix='-1 -1 -1 -1 8 -1 -1 -1 -1' divisor='1' bias='1' targetX='0' targetY='0' edgeMode='duplicate' preserveAlpha='true' x='0%25' y='0%25' width='100%25' height='100%25' in='SourceGraphic' result='convolveMatrix'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E#filter") invert(1)
    }
    body.unified-theme .af-bar .af-theme-button {
        --af-btn-outline-color: var(--bc-dark);
        --af-btn-selected-outline-color: var(--theme-primary-color);
        background: white !important
    }
}
